<p>form works!</p>

<div class="container">
    <form action="POST">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" id="exemail">
            <div class="form-text">Text your Email</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" id="exemail">
            <div class="form-text">Text your Password</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>