<p>form works!</p>

<div class="container">
    <form action="POST" (ngSubmit)="onSubmit()" #myForm="ngForm">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control" id="username" type="text" [(ngModel)]="username" name="username" required>
            <div class="form-text" *ngIf="username == ''"><span class="text-danger">*</span>Text your name</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" id="password" type="text" [(ngModel)]="password" name="password" required>
            <div class="form-text" *ngIf="password == ''"><span class="text-danger">*</span>Text your Password</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Select</label>
            <br>
            <select class="form-select" (change)="onChangeVehicle($event)" required>
                <option *ngFor="let vehicle of vehicles">{{vehicle}}</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid">Submit</button>

    </form>

</div>