<h2 class="text-center">reactive-form works!</h2>

<div class="container">
   <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control"type="text" formControlName="name" required>
            <span *ngIf="profileForm.controls['name'].invalid; then dontHaveName ;else haveName"></span>
            <ng-template #dontHaveName><p><span class="text-danger">*</span>Input your name</p></ng-template>
            <ng-template #haveName><p>your name is {{profileForm.value.name}}</p></ng-template>
            
        </div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control"type="number" min="0" step="1"  formControlName="age" required>
            <span *ngIf="profileForm.controls['age'].invalid; then dontHaveAge ;else haveAge"></span>
            <ng-template #dontHaveAge><p><span class="text-danger">*</span>Input your age</p></ng-template>
            <ng-template #haveAge><p>your age is {{profileForm.value.age}}</p></ng-template>
            
        </div>
        
        <button type="submit" [disabled]="!profileForm.valid" class="btn btn-primary">Submit</button>
    </form>
  
</div>