<div class="container text-center text-info">
	<h3><u>Purchase Order <u *ngIf="dataPODetail">{{dataPODetail.orderNo}}</u> </u></h3>
</div>
<div id="all-alert" class="alert-z-index1">
	<div id="alert-success" [style.display]="this.displayAlertSuccess ? 'block' : 'none'" style="display: none;" class="alert alert-success alert-dismissible fade show " role="alert">
		<span>Update Success !!!</span>
		<button type="button" class="btn-close" (click)="this.DisableAlertSuccess()" aria-label="Close"> 
			<span aria-hidden="true"></span>
		</button>
	</div>
	<div id="alert-error" [style.display]="this.displayAlertError ? 'block' : 'none'" style="display: none;" class="alert alert-danger alert-dismissible fade show" role="alert">
		<span><strong>Error:</strong> Check your input field !!!</span>
		<button type="button" class="btn-close" (click)="this.DisableAlertError()" aria-label="Close"> 
			<span aria-hidden="true"></span>
		</button>
	</div>
	
</div>

<!--Start Purchase Order detail-->
<div class="container border">
	<br />
	<div class="row">
		<div class="col-md-12 col-lg-6">
			<!--Start container-->
			<div class="container">
				<div class="row">
					<div class="col-4">
						<p class="fs-6"><b>Supplier:</b></p>
					</div>
					<div class="col-8">
						<input type="text" class="form-control" *ngIf="dataPODetail"
							[(ngModel)]="dataPODetail.supplierShortname" readonly />
						<br />
					</div>

					<div class="col-4">
						<p class="fs-6"><b>Stock Site:</b></p>
					</div>
					<div class="col-8">
						<input type="text" class="form-control" *ngIf="dataPODetail"
							[(ngModel)]="dataPODetail.stockSite" readonly />
						<br />
					</div>

					<div class="col-4">
						<p class="fs-6"><b>Order Date<span class="text-danger">*</span></b></p>
					</div>
					<div class="col-8">
						<input id="order_date_head" type="date" class="form-control" *ngIf="dataPODetail"
							[(ngModel)]="dataPODetail.orderDate" max="{{this.datetimeFormat.dateNowFormat()}}" readonly/>
						<br />
					</div>


					<div class="col-4">
						<p class="fs-6"><b>Note:</b></p>
					</div>
					<div class="col-8">
						<textarea class="form-control" *ngIf="dataPODetail" [disabled]="dataPODetail.cancelPo"
							[(ngModel)]="dataPODetail.note"> </textarea>
						<br />
					</div>
				</div>
			</div>
			<!--End container-->
		</div>
		<div class="col-md-12 col-lg-6">
			<!--Start container-->
			<div class="container">
				<div class="row">
					<div class="col-4">
						<p class="fs-6"><b>Supplier Name:</b></p>
					</div>
					<div class="col-8">
						<input type="text" class="form-control" *ngIf="dataPODetail"
							[(ngModel)]="dataPODetail.supplierName" readonly />
						<br />
					</div>

					<div class="col-4">
						<p class="fs-6"><b>Stock Name:</b></p>
					</div>
					<div class="col-8">
						<input type="text" class="form-control" *ngIf="dataPODetail"
							[(ngModel)]="dataPODetail.stockName" [disabled]="dataPODetail.cancelPo" readonly/>
						<br />
					</div>

					<div class="col-4">
						<p class="fs-6">
							<b>Address<span class="text-danger">*</span>:</b>
						</p>
					</div>
					<div class="col-8">
						<textarea class="form-control" *ngIf="dataPODetail" [(ngModel)]="dataPODetail.address"
							[disabled]="dataPODetail.cancelPo" required>
						</textarea>
						<br />
					</div>

					<div class="col-4">
						<p class="fs-6">
							<b>Country<span class="text-danger">*</span>:</b>
						</p>
					</div>
					<div class="col-8">
						<input type="text" class="form-control" *ngIf="dataPODetail" [(ngModel)]="dataPODetail.country"
							[disabled]="dataPODetail.cancelPo" required />
						<br />
					</div>

					<div class="col-4">
						<p class="fs-6">
							<b>Post Code<span class="text-danger">*</span>:</b>
						</p>
					</div>
					<div class="col-8">
						<input type="text" class="form-control" *ngIf="dataPODetail" [(ngModel)]="dataPODetail.postCode"
							[disabled]="dataPODetail.cancelPo" required />
						<br />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br />

<!--End Purchase Order detail-->
<!--Start Purchase Order Items-->
<div class="container table-responsive">
	<!--Start Table-->
	<table class="table table-bordered align-middle">
		<!--Start Head-->
		<thead class="table-info align-middle">
			<tr>
				<th>Part Number</th>
				<th>Part Description</th>
				<th>Manufacturer</th>
				<th class="text-end">Qty Ordered</th>
				<th class="text-end">Order Date</th>
				<th class="text-end">M2 Buy Price (£)</th>
				<th>Memo</th>
				<th class="text-end">Total Price (£)</th>
				<th></th>
			</tr>
		</thead>
		<!--End Head-->
		<!--Start Body-->
		<tbody *ngIf="this.dataPODetail">

			<!--Item-->
			<tr *ngFor="let pol of this.dataPODetail.purchaseOrderLines; let i = index">
				<td>
					<select class="form-select" name="selectPart" (change)="this.OnChangePartNumberOnPOLine($event,i)">
						<option *ngFor="let part of this.GetListPartCanSelectedInPOL(pol.partNumber)" [selected]="part.partNumber == this.dataPODetail.purchaseOrderLines[i].partNumber" [value]="part.partNumber">
							{{part.partNumber}}
						</option>
					</select>

				</td>

				<td><span>{{this.dataPODetail.purchaseOrderLines[i].partDescripttion}}</span></td>
				<td>
					<span>{{this.dataPODetail.purchaseOrderLines[i].manufacturer}}</span>
				</td>
				<td class="text-end">
					<input class="form-control text-end" type="number" step="1" min="1" [(ngModel)]="this.dataPODetail.purchaseOrderLines[i].qtyOrdered"
						[disabled]="dataPODetail.cancelPo">
				</td>
				<td class="text-end">
					<input class="form-control" type="date" [(ngModel)]="this.dataPODetail.purchaseOrderLines[i].orderDate" min="{{dataPODetail.orderDate}}"
						[disabled]="dataPODetail.cancelPo">
				</td>
				<td>
					<input class="form-control text-end" type="number" [(ngModel)]="this.dataPODetail.purchaseOrderLines[i].m2BuyPrice"
						[disabled]="dataPODetail.cancelPo" />
				</td>
				<td>
					<input type="text" class="form-control" [(ngModel)]="this.dataPODetail.purchaseOrderLines[i].memo" [disabled]="dataPODetail.cancelPo" />
				</td>
				<td class="text-end"><span>{{pol.qtyOrdered*pol.m2BuyPrice | number:'0.0-2'}}</span></td>
				<span *ngIf="dataPODetail.cancelPo==true; then cancelPO ;else notCancelPO"></span>
				<ng-template #cancelPO>
					<td class="text-center">
						<span><i class="fa fa-times text-secondary"></i></span>
					</td>
				</ng-template>
				<ng-template #notCancelPO>
					<td class="text-center" (click)="this.DeletePurchaseOrderLine(i)">
						<span><i class="fa fa-times text-danger"></i></span>
					</td>
				</ng-template>

			</tr>

		</tbody>
		<!--End Body-->
	</table>
	<!--End Table-->


</div>
<!--End Purchase Order Items-->
<!--Start Price and Action-->
<div class="container">
	<div class="row" *ngIf="dataPODetail">
		<div class="col-12 text-end">
			<p>
				<b>Purchase order price (£): </b><span *ngIf="dataPODetail">{{this.TotalPricePO()|number:"0.0-2"}}</span>
				<br />
				<span *ngIf="dataPODetail.cancelPo==true; then cancelPO ;else notCancelPO"></span>
				<ng-template #cancelPO>
					<p class="text-danger"><b>Warning:</b> This PO cannot be modified because already cancelled !</p>
				</ng-template>
				<ng-template #notCancelPO>
					<a (click)="this.AddPurchaseOrderLine()" href="javascript:;">Add Purchase order Line</a>
				</ng-template>
			</p>
		</div>
		<br />
	</div>

	<!--Start Button-->
	<div class="row text-end" *ngIf="dataPODetail">

		<div class="col-12">
			<span *ngIf="dataPODetail.cancelPo==true; then cancelPO ;else notCancelPO"></span>
			<ng-template #cancelPO>
				<a [routerLink]="['/']" routerLinkActive="router-link-active" type="button" class="btn btn-success">Go
					to Puchase Order Page</a>
			</ng-template>

			<ng-template #notCancelPO>
				<button type="button" class="btn btn-secondary" (close)="this.CancelPurchaseOrder()">Cancel PO</button>
				&nbsp;
				<button type="button" class="btn btn-light">Re-send email</button>
				&nbsp;
				<button type="button" class="btn btn-success" (click)="this.POSTUpdatePurchaseOrderDetail()">Save</button>
			</ng-template>

		</div>
	</div>


	<!--End Button-->
</div>
<!--End Price and Action-->