<ng-container *ngIf="this.isRunCheckToken">



</ng-container>
<span *ngIf="this.isRunCheckToken; then renderTemplate; else loadingTemplate"></span>

<ng-template #renderTemplate>
	<app-header></app-header>

	<div>{{this.user|json}}</div>


	<!--router primary-->
	<router-outlet></router-outlet>
</ng-template>

<ng-template #loadingTemplate>

	<app-loading></app-loading>

</ng-template>

<!--
<h2>
	router add
	<router-outlet name="addContact"></router-outlet>
</h2>
<h1>
	router edit
	<router-outlet name="editContact"></router-outlet>
</h1>
-->