@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPageIndex.cshtml";

}



<div class="container text-center text-info">
    <h3><u>Purchase Order <u id="id_po">@{@ViewBag.indexPO}</u> </u></h3>
</div>

<!--Start Purchase Order detail-->
<div class="container border">
    <br />
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <!--Start container-->
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <p class="fs-6"><b>Supplier:</b></p>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" data-bind="value: supplier_shortname" readonly />
                        <br />
                    </div>

                    <div class="col-4">
                        <p class="fs-6"><b>Stock Site:</b></p>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" data-bind="value: stock_site" readonly />
                        <br />
                    </div>

                    <div class="col-4">
                        <p class="fs-6"><b>Order Date:</b></p>
                    </div>
                    <div class="col-8">
                        <input id="order_date_head" type="date" class="form-control" data-bind="value: order_date" value="" readonly />
                        <br />
                    </div>


                    <div class="col-4">
                        <p class="fs-6"><b>Note:</b></p>
                    </div>
                    <div class="col-8">
                        <textarea class="form-control" data-bind="text: note"> </textarea>
                        <br />
                    </div>
                </div>
            </div>
            <!--End container-->
        </div>
        <div class="col-md-12 col-lg-6">
            <!--Start container-->
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <p class="fs-6"><b>Supplier Name:</b></p>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" data-bind="value: supplier_name" readonly />
                        <br />
                    </div>

                    <div class="col-4">
                        <p class="fs-6"><b>Stock Name:</b></p>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" data-bind="value: stock_name" />
                        <br />
                    </div>

                    <div class="col-4">
                        <p class="fs-6">
                            <b>Address<span class="text-danger">*</span>:</b>
                        </p>
                    </div>
                    <div class="col-8">
                        <textarea class="form-control" data-bind="text: address" required></textarea>
                        <br />
                    </div>

                    <div class="col-4">
                        <p class="fs-6">
                            <b>County<span class="text-danger">*</span>:</b>
                        </p>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" data-bind="value: country" required />
                        <br />
                    </div>

                    <div class="col-4">
                        <p class="fs-6">
                            <b>Post Code<span class="text-danger">*</span>:</b>
                        </p>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" data-bind="value: post_code" required />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<!--End Purchase Order detail-->
<!--Start Purchase Order Items-->
<div class="container table-responsive">
    <!--Start Table-->
    <table class="table table-bordered align-middle">
        <!--Start Head-->
        <thead class="table-info align-middle">
            <tr>
                <th>Part Number</th>
                <th>Part Description</th>
                <th>Manufacturer</th>
                <th class="text-end">Qty Ordered</th>
                <!--
                <th class="text-end">Qty Delivered</th>
                <th class="text-end">Back Order</th>
                -->
                <th class="text-end">Order Date</th>
                <th class="text-end">M2 Buy Price (£)</th>
                <th>Memo</th>
                <th class="text-end">Total Price (£)</th>
                <th></th>
            </tr>
        </thead>
        <!--End Head-->
        <!--Start Body-->
        <tbody data-bind="foreach: purchase_order_line">

            <!--Item-->
            <tr>
                <td>
                    <input data-bind="value: part_number" type="text" class="form-control" />
                </td>

                <td><span data-bind="text: part_descripttion"></span></td>
                <td>
                    <span data-bind="text: manufacturer"></span>
                </td>
                <td class="text-end"><input data-bind="value: qty_ordered" class="form-control text-end" type="number" step="1" min="1"></td>
                <td class="text-end"><input data-bind="value: order_date" class="form-control order_date_in_Line" type="date" ></td>
                <td>
                    <input data-bind="value: m2_buy_price" class="form-control text-end" type="number" />
                </td>
                <td>
                    <input data-bind="value: memo" type="text" class="form-control" />
                </td>
                <td class="text-end"><span data-bind="text: total_price_in_line"></span></td>
                <td class="text-center">
                    <span><i class="fa fa-times text-danger"></i></span>
                </td>
            </tr>

        </tbody>
        <!--End Body-->
    </table>
    <!--End Table-->


</div>
<!--End Purchase Order Items-->
<!--Start Price and Action-->
<div class="container">
    <div class="row">
        <div class="col-12 text-end">
            <p>
                <b>Purchase order price (£): </b><span data-bind="text: sum_of_PO">3,038.95</span> <br /><a href="#">Add Purchase order Line</a>
            </p>
        </div>
        <br />
    </div>

    <!--Start Button-->
    <div class="row text-end">
        <div class="col-12">
            <button type="button" class="btn btn-light">Re-send email</button>
            <button type="button" class="btn btn-success">Save</button>
        </div>
    </div>
    <!--End Button-->
</div>
<!--End Price and Action-->
<script>

</script>
<script src="~/Assets/js/pol.js"></script>
