<ng-container *ngIf="this.dataPO==null">
	<app-loading></app-loading>
</ng-container>

<br />
<div class="container" *ngIf="this.dataPO != null">
	<!--Start Table-->
	<table id="list_po" class="table table-bordered text-center table-striped">
		<!--Start Head-->
		<thead class="table-info">
			<tr>
				<th>Order No</th>
				<th>Supplier</th>
				<th>Stock Site</th>
				<th>Stock Name</th>
				<th>Ord Date</th>
				<th>Last Update</th>
				<th>Sent Email</th>
			</tr>
		</thead>
		<!--End Head-->
		<!--Start Body-->
		<tbody>
			<!--body table-->

			<!--Item-->
			<tr *ngFor="let item of dataPO">
				<td><a [routerLink]="['/purchaseorderdetail/'+item.orderNo]"
						routerLinkActive="router-link-active">{{item.orderNo}}</a></td>
				<td><span>{{item.supplierName}}</span></td>
				<td><span>{{item.stockSite}}</span></td>
				<td><span>{{item.stockName}}</span></td>
				<td><span>{{datetimeFormat.string2DatetimeFormat(item.orderDate)}}</span></td>
				<td><span>{{datetimeFormat.string2DatetimeFormat(item.lastUpdate)}}</span></td>

				<td *ngIf="item.sendEmail==true"><input type="checkbox" checked disabled="disabled" /></td>

				<td *ngIf="item.sendEmail==false"><input type="checkbox" disabled="disabled" /></td>

			</tr>

		</tbody>
		<!--End Body-->
	</table>

	<!--Start Pagination-->
	
	<div class="d-flex justify-content-center">
		
		<ul class="pagination">
			<li class="page-item"><button [disabled]="this.pageIndex<1" class="page-link"
					(click)="this.LoadPreviousPage()">Previous</button></li>

			<li class="page-item"><a [hidden]="this.pageIndex < this.pageSize*3" class="page-link">...</a></li>

			<li class="page-item" *ngFor="let index of this.paginationIndex">
				<button 
				[ngClass]="{
					'text-danger text-underline':index==0
				}"
				[disabled]="index==0"
				[hidden]="this.HiddenIndexPagination(index)"
				class="page-link" (click)="this.LoadingListPurchaserOrder((this.pageIndex/this.pageSize+index)*this.pageSize)">
					{{this.pageIndex/this.pageSize+1+index}}
				</button>
				

			</li>


			<li class="page-item"><a [hidden]="(this.pageIndex+this.pageSize*3 )>= this.lengthPO"
					class="page-link">...</a></li>
			<li class="page-item"><button [disabled]="(this.pageIndex+this.pageSize )>= this.lengthPO" class="page-link"
					(click)="this.LoadNextPage()">Next</button></li>
		</ul>

	</div>

	<!--Start Pagination-->
	<!--End Table-->
</div>