
<br />

<div class="container">
    <!--Start Table-->
    <table id="list_po" class="table table-bordered text-center table-striped">
        <!--Start Head-->
        <thead class="table-info">
            <tr>
                <th>Order No</th>
                <th>Supplier</th>
                <th>Stock Site</th>
                <th>Stock Name</th>
                <th>Ord Date</th>
                <th>Last Update</th>
                <th>Sent Email</th>
            </tr>
        </thead>
        <!--End Head-->
        <!--Start Body-->
        <tbody>
            <!--body table-->
           
                    <!--Item-->
                    <tr *ngFor="let item of dataPO">
                        <td><a href="#">{{item.orderNo}}</a></td>
                        <td><span>{{item.supplierName}}</span></td>
                        <td><span>{{item.stockSite}}</span></td>
                        <td><span>{{item.stockName}}</span></td>
                        <td><span>{{string2DatetimeFormat(item.orderDate)}}</span></td>
                        <td><span>{{string2DatetimeFormat(item.lastUpdate)}}</span></td>
                        
                                <td *ngIf="item.sentEmail==true"><input type="checkbox" checked disabled="disabled" /></td>
                           
                                <td *ngIf="item.sentEmail==false"><input type="checkbox" disabled="disabled"/></td>
                   
                    </tr>

        </tbody>
        <!--End Body-->
    </table>



    <!--Start Pagination-->
    <!--
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#" onclick="">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="">1</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="">2</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="">...</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="">6</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="">7</a></li>
            <li class="page-item"><a class="page-link" href="#" onclick="">Next</a></li>
        </ul>

    </div>
    -->
    <!--Start Pagination-->
    <!--End Table-->
</div>
