<!--Start Narbar-->
<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-info">
		<div class="container-fluid">
			<span class="navbar-brand mb-0 h1">
				<a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">Purchase Order</a>

			</span>

			<!--Start for Learn-->
			
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" [routerLink]="['/dashboard']"
							routerLinkActive="router-link-active">Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" [routerLink]="['/login']"
							routerLinkActive="router-link-active">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" [routerLink]="['/logout']"
							routerLinkActive="router-link-active">Logout</a>
					</li>
				</ul>
			</div>
			
			<!--End for Learn-->


		</div>

	</nav>
</div>
<!--End Narbar-->