<p>about works!</p>
<br>

<p>
    this is page about
</p>
<h4>Name : {{name}}</h4>
<h4>Age : {{age}}</h4>
<!--
<button (click)="tangtuoi()">Add Age</button>
-->
<h3>Display Profile Json</h3>
<p>{{datajson | json}}</p>

<br>

<h3>Display Post Json</h3>
<div class="container">
   <table class="table table-bordered border-primary">
       <thead>
           <tr>
               <th>id</th>
               <th>title</th>
               <th>author</th>
            </tr>
       </thead>
       <tbody *ngFor="let post of posts">
           <tr>
               <td>
                {{post.id}}
               </td>
               <td>
                {{post.title}}
               </td>
               <td>
                {{post.author}}
               </td>
           </tr>
       </tbody>
   </table>

</div>

<br>

<h3>Add Post</h3>
<button class="btn btn-primary" (click)="addPost()">Add Post</button>